Jukebox/NodeRed Test Flow
[{"id":"60a9be474ddd757c","type":"tab","label":"JukeBox Test","disabled":false,"info":""},{"id":"b95e9e7f46c1b3d0","type":"inject","z":"60a9be474ddd757c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":170,"y":240,"wires":[["10bdf46203dbd774"]]},{"id":"bc0183f162a6098c","type":"mqtt out","z":"60a9be474ddd757c","name":"","topic":"RSF/JUKEBOX/Track","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"386e425790269597","x":610,"y":140,"wires":[]},{"id":"10bdf46203dbd774","type":"random","z":"60a9be474ddd757c","name":"","low":1,"high":"198","inte":"true","property":"payload","x":360,"y":240,"wires":[["bc0183f162a6098c"]]},{"id":"44b4b2164467da8a","type":"inject","z":"60a9be474ddd757c","name":"Random-V10-200","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"200","payloadType":"num","x":190,"y":140,"wires":[["bc0183f162a6098c"]]},{"id":"a48be9b24ec7cecb","type":"mqtt out","z":"60a9be474ddd757c","name":"","topic":"RSF/JUKEBOX/Volume","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"386e425790269597","x":610,"y":320,"wires":[]},{"id":"1122cef23d8dde71","type":"inject","z":"60a9be474ddd757c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"100","payloadType":"num","x":150,"y":320,"wires":[["a48be9b24ec7cecb"]]},{"id":"a247f46be231313a","type":"inject","z":"60a9be474ddd757c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"30","payloadType":"num","x":150,"y":440,"wires":[["a48be9b24ec7cecb"]]},{"id":"e0c45f56d45b86da","type":"inject","z":"60a9be474ddd757c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"75","payloadType":"num","x":150,"y":360,"wires":[["a48be9b24ec7cecb"]]},{"id":"69bac9df6d84ac39","type":"inject","z":"60a9be474ddd757c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"50","payloadType":"num","x":150,"y":400,"wires":[["a48be9b24ec7cecb"]]},{"id":"a623881aff6d66ca","type":"inject","z":"60a9be474ddd757c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"15","payloadType":"num","x":150,"y":480,"wires":[["a48be9b24ec7cecb"]]},{"id":"e464d61f4b17fb7f","type":"mqtt out","z":"60a9be474ddd757c","name":"","topic":"RSF/JUKEBOX/EQ","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"386e425790269597","x":600,"y":540,"wires":[]},{"id":"e74c85676ebfa5e0","type":"inject","z":"60a9be474ddd757c","name":"Normal","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":150,"y":540,"wires":[["e464d61f4b17fb7f"]]},{"id":"4fcca3f62d93a404","type":"inject","z":"60a9be474ddd757c","name":"Jazz","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"3","payloadType":"num","x":150,"y":660,"wires":[["e464d61f4b17fb7f"]]},{"id":"4894a20723ac0aac","type":"inject","z":"60a9be474ddd757c","name":"Pop","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":150,"y":580,"wires":[["e464d61f4b17fb7f"]]},{"id":"9ee4272544628903","type":"inject","z":"60a9be474ddd757c","name":"Rock","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2","payloadType":"num","x":150,"y":620,"wires":[["e464d61f4b17fb7f"]]},{"id":"bf2599c468c570a2","type":"inject","z":"60a9be474ddd757c","name":"Classic","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"4","payloadType":"num","x":150,"y":700,"wires":[["e464d61f4b17fb7f"]]},{"id":"5336acbecc23b4fd","type":"inject","z":"60a9be474ddd757c","name":"Bass","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"5","payloadType":"num","x":150,"y":740,"wires":[["e464d61f4b17fb7f"]]},{"id":"81c14f4f978c31ac","type":"mqtt out","z":"60a9be474ddd757c","name":"","topic":"RSF/JUKEBOX/Stop","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"386e425790269597","x":600,"y":940,"wires":[]},{"id":"748251b6b841221e","type":"mqtt out","z":"60a9be474ddd757c","name":"","topic":"RSF/JUKEBOX/Pause","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"386e425790269597","x":610,"y":820,"wires":[]},{"id":"33b13c57f55190f8","type":"mqtt out","z":"60a9be474ddd757c","name":"","topic":"RSF/JUKEBOX/Play","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"386e425790269597","x":600,"y":860,"wires":[]},{"id":"401219a7b6bd45a8","type":"mqtt out","z":"60a9be474ddd757c","name":"","topic":"RSF/JUKEBOX/Reset","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"386e425790269597","x":610,"y":900,"wires":[]},{"id":"9c5bce2b4f5a673b","type":"inject","z":"60a9be474ddd757c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":170,"y":820,"wires":[["748251b6b841221e"]]},{"id":"9ca3cab1a6c6ed56","type":"inject","z":"60a9be474ddd757c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":170,"y":860,"wires":[["33b13c57f55190f8"]]},{"id":"13d14749711e6c39","type":"inject","z":"60a9be474ddd757c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":170,"y":900,"wires":[["401219a7b6bd45a8"]]},{"id":"ac7b3be4625c7073","type":"inject","z":"60a9be474ddd757c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":170,"y":940,"wires":[["81c14f4f978c31ac"]]},{"id":"8979d84d88f0bfe7","type":"inject","z":"60a9be474ddd757c","name":"Reset-V9-199","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"199","payloadType":"num","x":180,"y":180,"wires":[["bc0183f162a6098c"]]},{"id":"386e425790269597","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]
